.home {
  background-color: var(--dark-blue);
}

.filter {
  background-color: var(--blue);
  height: 70px;
  position: relative;
}

.filter .filter_input {
  width: 30rem;
  height: 40px;
  position: absolute;
  right: 40px;
  bottom: 20px;
  padding-left: 10px;
  border: none;
  border-radius: 2px;
}
.filter .filter_input:focus-visible {
  outline: 1px solid #ccc;
}

.filter .filter_icon {
  height: 30px;
  position: absolute;
  margin: auto;
  right: 50px;
  top: 15px;
}

.list_movies {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  width: 100%;
  margin-top: 35px;
  padding: 0 40px;
}
.list_img {
  width: 100%;
}

.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  text-align: center;
  padding-left: 0;
  padding-bottom: 20px;
  margin: 0 auto;
}

.pagination .active {
  background-color: var(--blue);
  color: var(--black);
}
.pagination li {
  margin: 7px 8px;
  border: 1px solid transparent;
  color: var(--blue);
  transition: background-color 0.5s;
  cursor: pointer;
  border-radius: 2px;
}
.pagination li a{
  width: 40px;
  display: block;
  padding: 8px;
}
.pagination li:hover {
  background-color: var(--blue);
  color: var(--black);
}

@media only screen and (max-width: 460px) {

  .list_movies {
    grid-template-columns: repeat(2, 1fr);
  }

  .filter .filter_input {
    width: 82%;
    height: 30px;
    right: 34px;
  }
  .filter .filter_icon {
    height: 20px;
    top: 25px;
  }
}
