:root{
  --black:#000;
  --white:#fff;
  --blue:#10B0E6;
  --dark-blue:#08212f;
  --green:#1DCFC3;
}

html {
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
  background-color: var(--black);
}
*, *:before, *:after {
  box-sizing: inherit;
}

@media (min-width: 1250px ) { 
  main {
      width: 1000px;
      margin: auto;
  }

}