:root{
  --black:#000;
  --white:#fff;
  --blue:#10B0E6;
  --dark-blue:#08212f;
}

 h2, p {
  font-family: 'Open Sans', sans-serif;
}


html {
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
  background-color: var(--black);
}

@media (min-width: 1250px ) { 
  main {
      width: 1000px;
      margin: auto;
  }

}